{% extends "blog/base.html" %}
{% block content %}
<h1>{{ view.kwargs.username }} ({{ page_obj.paginator.count }}) Posts</h1>
<div>
	{%  for post in posts %}
	<div>
		<h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
		<h5><a href="/blog/user/{{ post.author.username }}">{{ post.author }}</a></h5>
		<img src="{{ post.author.profile.image.url }}">
		<h5>{{ post.date_posted|date:"d F, Y" }}</h5>
		<p>{{ post.description }}</p>
	</div>
	{% endfor %}
	<div>
		{% if is_paginated %}
		{% if page_obj.has_previous %}
		<button><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
		{% endif %}
		<div>{{ page_obj }}</div>
		{% if page_obj.has_next %}
		<button><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
		{% endif %}
		{% endif %}
	</div>
</div>
{% endblock content %}