{% extends "blog/base.html" %}
{% block content %}
<h1>My blog Posts</h1>
<div>
	<div>
		<h3>{{ object.title }}</h3>
		<h5><a href="/blog/user/{{ post.author.username }}">{{ post.author }}</a></h5>
		<img src="{{ object.author.profile.image.url }}">
		<h5>{{ object.date_posted|date:"d F, Y" }}</h5>
		<p>{{ object.description }}</p>
	</div>
	{% if user == object.author %}
	<div>
		<button><a href="/blog/{{ object.id }}/update/">Update Post</a></button>
		<button><a href="/blog/{{ object.id }}/delete/">Delete Post</a></button>
	</div>
	{% endif %}
</div>
{% endblock content %}